@model IEnumerable<MVC_ComponentesCodeFirst.Models.Ordenador>

@{
    ViewData["Title"] = "Ordenadores";
}

<h1>Ordenadores Tienda</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreOrdenador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PedidoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComponentesAgregados)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreOrdenador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calor) ºC
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio) €
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PedidoId)
        </td>
        <td>
            @foreach (var itemComponente in item.ComponentesAgregados!)
            {
                <nbsp> @Html.DisplayFor(item => itemComponente.TipoComponente) </nbsp>
                @Html.DisplayFor(item => itemComponente.NumeroDeSerie)<br/>
            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
